* {
    border: none;
    border-radius: 0;
    font-family: DejaVu Sans Mono Nerd Font;
    font-size: 13px;
    min-height: 0;
}

#window {
    padding: 0 10px;
}

window.#waybar.empty {
    padding: 0 10px;
}

window#waybar {
    color: #d8dee9;
    background-color: #2e3440;
    border-bottom: 3px solid #3b4252;
    border-top: 2px transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    color: #4c566a;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    padding: 0 5px;
}

#workspaces button:hover {
    color: #b48ead;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #b48ead;
}

#workspaces button.visible {
    color: #8fbcbb;
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.2);
    color: #88c0d0;
    border-bottom: 3px solid #88c0d0;
}

#workspaces button.urgent {
    background-color: #d08770;
}

#mode {
    color: #d08770;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #d08770;
    padding: 0 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 4px;
}

#clock {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 8px;
}

#cpu {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 8px;
}

#memory {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 8px;
}

#network {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 8px;
}

#network.disconnected {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 8px;
}

#tray {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0;
}

#custom-packages {
    color: #d8dee9;
    background-color: #2e3440;
    padding: 0 8px;
}

#custom-separator {
    background-color: #2e3440;
    padding: 0 4px;
}
