* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, "DejaVu Sans Mono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

#window {
    padding: 0 10px;
}

window.#waybar.empty {
    padding: 0 10px;
}

window#waybar {
    color: #c0caf5;
    background-color: #1a1b26;
    transition-property: background-color;
    transition-duration: .5s;
    border-bottom: 1px solid #24283b;
}

#workspaces button {
    color: #565f89;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    padding: 0 5px;
}

#workspaces button:hover {
    color: #bb9af7;
    background: #24283b;
    text-shadow: none;
    box-shadow: none;
    border-bottom: 3px solid #bb9af7;
}

#workspaces button.focused {
    background: #24283b;
    color: #7aa2f7;
    border-bottom: 3px solid #7aa2f7;
}

#workspaces button.urgent {
    background-color: #ff9e64;
}

#mode {
    color: #bb9af7;
    background: #24283b;
    padding: 0 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery {
    padding: 0 4px;
}

#clock {
    padding: 0 8px;
}

#cpu {
    padding: 0 8px;
}

#memory {
    padding: 0 8px;
}

#network {
    padding: 0 8px;
}

#network.disconnected {
    padding: 0 8px;
}

#tray {
    padding: 0;
}

#custom-packages {
    padding: 0 8px;
}

#custom-separator {
    padding: 0 4px;
}
