configuration {
    // General Config
    lines: 12;

    // ❯ \u276f

    // Keyboard control
    kb-accept-entry:     "Return,KP_Enter";
    kb-row-down:         "Down,Control+j";
    kb-row-up:           "Up,Control+k";
    kb-mode-next:        "Control+l";
    kb-mode-previous:    "Control+h";
    kb-remove-char-back: "BackSpace";

    // Theme
    theme: "theme";
}
